:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg-default: #ffffff;
  --bg-body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --section-y-space: 18px;
  --section-x-space: 64px;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

/* basic reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", serif;
}

body {
  color: var(--body-text);
  background: var(--bg-default);
}

.top-bar .branding a {
  all: unset;
  cursor: pointer;
  color: var(--brand-primary);
}

/* top bar styles */

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: var(--section-y-space) var(--section-x-space);
  align-items: center;
  box-shadow: 0 0 4px var(--shadow-color);
}

/* top bar buttons */

.top-toggles button {
  all: unset;
  margin: 2px;
  padding: 6px 12px;
  border: 1px solid var(--lines-color);
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.top-toggles button .button-label {
  margin-left: 4px;
}

/* top banner */

.top-banner {
  height: 150px;
}

/* top banner divider */

.slanted-divider {
  height: 50%;
  background: var(--bg-default);
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.slanted-divider::after,
.slanted-divider::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: 100%;
}

.slanted-divider::after {
  clip-path: polygon(0 0, 80% 80%, 100% 100%, 0 100%);
  transform: scaleY(-1);
  background: linear-gradient(to right,
      var(--brand-primary) 0%,
      var(--brand-secondary) 100%);
}

.slanted-divider::before {
  clip-path: polygon(0 0, 80% 80%, 100% 100%, 0 100%);
  background: var(--brand-secondary);
  transform: scale(-1);
  left: -100%;
}

/* top banner text */

.top-banner .banner-text {
  margin: auto;
  display: block;
  width: fit-content;
}

.top-banner .banner-text h1 {
  color: var(--brand-secondary);
  font-weight: bolder;
}

.banner-text .banner-title {
  font-size: 22px;
}

.banner-text .banner-subtitle {
  font-size: 16px;
}

/* main content */

main {
  background: var(--bg-body);
  padding: var(--section-y-space) var(--section-x-space);
}

/* search bar */

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--bg-default);
  width: 100%;
  box-shadow: 0 0 8px var(--shadow-color);
}

/* search controls */
.search-controls {
  display: flex;
  width: 30%;
}

.search-controls .select {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 8px 12px;
  border-left: 1px solid var(--lines-color);
}

.search-controls .select select {
  color: var(--body-text);
  border: none;
  background: var(--bg-default);
  width: 100%;
}

.search-controls .select .select-label {
  font-size: 12px;
  padding-left: 4px;
  padding-bottom: 4px;
}

/* search field */

.search-field {
  all: unset;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 18px 4px;
}

.search-field input {
  all: unset;
  width: 100%;
}

.search-field .search-icon {
  margin-left: 12px;
  margin-right: 18px;
  font-size: 18px;
}

/* search results */

.search-results {
  color: var(--body-text);
  margin-top: 32px;
}

/* cards */

.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  margin-top: 32px;
  justify-items: center;
}

/* card*/

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 0 12px var(--shadow-color);
  border-radius: 10px;
  overflow: hidden;
  background: var(--bg-default);
  width: 100%;
}

/* card header */

.card-header {
  text-align: center;
  height: 130px;
}

.card-header img {
  height: 100%;
}

/* card body */

.card-body {
  padding: 15px;
}

.card-topic {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 25px;
  color: var(--body-text);
}

.card-category {
  font-size: 12px;
  color: var(--body-text);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-author {
  font-size: 12px;
  color: #979797;
}

/* card rating */

.card-rating {
  margin-bottom: 10px;
}

.stars {
  width: 75px;
}

.stars path {
  stroke: #e5981a;
  stroke-width: 2px;
}

.star-empty {
  fill: #0000;
}

.rect-filled {
  fill: #e5981a;
}

/* footer */

.footer {
  background-color: var(--bg-body);
  color: var(--body-text);
  text-align: center;
  padding: var(--section-y-space) 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .heart-icon {
  color: var(--heart-color);
  font-size: 22px;
  margin: 0 4px;
}

/* bottom drawer */

.bottom-drawer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 175px;
  background-color: var(--bg-default);
  box-shadow: 0 0 4px 1px var(--shadow-color);
  padding: 0px var(--section-x-space);
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
}

.favourites-container {
  display: flex;
  gap: 15px;
  height: 125px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  padding: 0 4px;
}

.favourites-title {
  margin: 14px 0;
  padding: 0 4px;
}

.favourite-card {
  box-shadow: 0 0 4px 2px var(--shadow-color);
  border-radius: 5px;
  min-width: 120px;
  overflow: hidden;
  height: 110px;
}

.favourite-card .card-header {
  height: 60px;
}

.favourite-card .card-body {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
}

.favourite-card .card-topic {
  display: inline;
  margin-bottom: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.favourite-card .card-rating {
  margin-bottom: 0px;
}

/* details page styles */

main.details-content {
  display: flex;
  justify-content: center;
  padding: 32px 0px;
  background: #333;
}

section.top {
  position: relative;
  display: flex;
  justify-content: space-between;
}

section.top,
.bottom-container {
  width: 62%;
}

.topic-content {
  width: 60%;
  color: #fff;
}

.topic-content .category {
  color: #07be85;
}

.topic-description {
  margin-top: 16px;
}

.details-card {
  position: absolute;
  left: calc(60% + 32px);
  top: 0;
  width: 325px;
  height: 425px;
  background: #fff;
  color: #000;
  z-index: 1;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}

.details-card .container {
  height: 100%;
  padding: 2px;
}

.details-card .image {
  height: 50%;
}

.details-card .image img {
  width: 100%;
  height: 97%;
  object-fit: cover;
}

.details-card .content {
  padding: 16px;
}

.details-card .content .title {
  margin-bottom: 8px;
}

.details-card .call-to-action {
  border: 1px solid lightgrey;
  padding: 8px 16px;
}

.details-card .call-to-action .top-text {
  font-weight: 300;
  margin-top: 8px;
}

.details-card .call-to-action button {
  all: unset;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  margin: 8px 0;
  width: -webkit-fill-available;
  background: #03c181;
  color: #fff;
  font-size: 22px;
}

.details-card .call-to-action .bottom-text {
  color: #9c9c9c;
  font-size: 14px;
  text-align: center;
}

section.bottom {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background: var(--bg-body);
  padding: 32px 0;
}

.subtopics-container ul li {
  list-style: none;
}

.topic-content,
.subtopics-container {
  width: 60%;
}

.subtopics-container {
  background: var(--bg-default);
  border: 1px solid var(--lines-color);
  border-radius: 5px;
}

.subtopic-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  border-top: 2px solid var(--lines-color);
}

.subtopics-title,
.subtopic-item {
  padding: 16px 24px;
}

.subtopic-item .list-item-icon {
  color: #03c181;
  font-size: 24px;
  margin-right: 12px;
}

@media (max-width: 1200px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Laptop */
@media (max-width: 992px) {
  .details-card {
    display: none;
  }

  section.top,
  .bottom-container {
    width: 82%;
  }

  .topic-content,
  .subtopics-container {
    width: 100%;
  }

  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablet */
@media (max-width: 768px) {
  .button-label {
    display: none;
  }

  .slanted-divider {
    height: 35%;
  }

  .banner-text {
    height: 65%;
    padding: 16px;
  }

  .searchbar {
    flex-direction: column;
    align-items: center;
  }

  .search-controls {
    border-top: 1px solid var(--lines-color);
    width: 100%;
  }

  .search-controls .select:first-child {
    border-left: none;
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 576px) {
  :root {
    --section-x-space: 18px;
  }

  .slanted-divider {
    height: 25%;
  }

  .banner-text {
    height: 75%;
  }

  .cards-container {
    grid-template-columns: 1fr;
    justify-items: stretch;
  }
}
