/* bottom drawer */
.bottom-drawer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 175px;
  background-color: var(--bg-default);
  box-shadow: 0 0 4px 1px var(--shadow-color);
  padding: 0px var(--section-x-space);
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
}
